In [1]:
import pandas as pd
import numpy as np
import os
from datetime import date

In [2]:
df = pd.read_pickle('D:/jaume/Jupyter Notebooks/Vacantes Scraper/ScrapedData/20220505_020738_vacants.pkl')

In [4]:
df.head(20)

,n_vac,uco,ciu,pt,asig,ta,empleo,efun,cursos,t_max,t_min,fecha_cob,csce,obs,fecha_pub,cod_cm
0,02500,CUARTEL GENERAL DEL MANDO DE TROPAS DE MONTAÑA,50083231,5WA1E/001,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","412,70","244,604,656,959",2021-03-24,NaN
1,02501,"BCG DE LA BRIGADA «ALMOGÁVARES» VI, DE PARACAI...",50027882,5WA1E/001,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","412,70","244,959",2021-03-24,NaN
2,02502,BATALLON DE ZAPADORES VI,50056870,5WA1E/001,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","412,70","244,609,959",2021-03-24,NaN
3,02503,GRUPO DE ARTILLERIA DE CAMPAÑA VI,50091180,5WA1E/001,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","412,70","244,607,959",2021-03-24,NaN
4,02504,BATALLON DE CG. DE LA BRIGADA «GALICIA» VII,50027771,5WA1E/002,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","374,87","244,959",2021-03-24,NaN
5,02505,GRUPO DE ARTILLERIA DE CAMPAÑA VII,50030029,5WA1E/001,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","374,87","244,607,959",2021-03-24,NaN
6,02506,BATALLON DE ZAPADORES XI,50013330,5WA1E/001,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","374,87","244,609,959",2021-03-24,NaN
7,02507,GRUPO LOGISTICO XII,50045610,5WA1E/002,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","374,87","244,959",2021-03-24,NaN
8,02508,GRUPO LOGISTICO XI,50055530,5WA1E/002,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","374,87","244,959",2021-03-24,NaN
9,02509,GRUPO DE ARTILLERIA DE CAMPAÑA XII,50089452,5WA1E/002,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","374,87","244,607,959",2021-03-24,NaN
10,02510,BATALLON DE ZAPADORES XII,50092383,5WA1E/001,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","374,87","244,609,959",2021-03-24,NaN
11,02511,REGIMIENTO DE INFANTERIA «ARAPILES» N.o 62,51018912,5WA1E/001,LD,Z,SBMY,NaN,"[TM:E, PA:E, nan]",NaN,NaN,"[17-05-2021, 25-04-2021, nan]","374,87","244,604,605,959",2021-03-24,NaN
12,02512,REGIMIENTO ACORAZADO «PAVIA»4,51094394,5WA1E/001,LD,Z,SBMY,"[CAB., ING./TRA., nan]",NaN,NaN,"[3, nan]","[30-05-2021, 29-05-2021, 13-04-2021, 26-06-202...","374,87","244,605,606,959",2021-03-24,NaN
13,02513,BATALLON DE ZAPADORES XVI,50039818,5WA1E/001,LD,Z,SBMY,"[CAB., ING./TRA., nan]",NaN,NaN,"[3, nan]","[30-05-2021, 29-05-2021, 13-04-2021, 26-06-202...","374,87","244,609,959",2021-03-24,NaN
14,02514,AGRUPACION DE APOYO LOGISTICO N.o 81.,50038203,5WA1E/001,LD,Z,SBMY,"[CAB., ING./TRA., nan]",NaN,NaN,"[3, nan]","[30-05-2021, 29-05-2021, 13-04-2021, 26-06-202...","374,87","244,959",2021-03-24,NaN
15,02515,AGRUPACION DE APOYO LOGISTICO N.o 11. (COLMENAR),50047849,5WA1E/001,LD,Z,SBMY,"[CAB., ING./TRA., nan]",NaN,NaN,"[3, nan]","[30-05-2021, 29-05-2021, 13-04-2021, 26-06-202...","374,87","244,959",2021-03-24,NaN
16,02516,REGIMIENTO DE ARTILLERIA DE COSTA 4 (SAN FERNA...,50012789,5WA1E/001,LD,Z,SBMY,"[CAB., ING./TRA., nan]",NaN,NaN,"[3, nan]","[30-05-2021, 29-05-2021, 13-04-2021, 26-06-202...","374,87","244,607,608,959",2021-03-24,NaN
17,02517,CUARTEL GENERAL DEL MING.,50059971,5WA1E/001,LD,Z,SBMY,"[CAB., ING./TRA., nan]",NaN,NaN,"[3, nan]","[30-05-2021, 29-05-2021, 13-04-2021, 26-06-202...","374,87","244,609,656,959",2021-03-24,NaN
18,02518,BATALLON DE HELICOPTEROS DE ATAQUE I,50065595,5WA1E/002,LD,Z,SBMY,"[CAB., ING./TRA., nan]",NaN,NaN,"[3, nan]","[30-05-2021, 29-05-2021, 13-04-2021, 26-06-202...","374,87","244,959",2021-03-24,NaN
19,02519,REGIMIENTO DE INGENIEROS 1,50081154,5WA1E/002,LD,Z,SBMY,"[CAB., ING./TRA., nan]",NaN,NaN,"[3, nan]","[30-05-2021, 29-05-2021, 13-04-2021, 26-06-202...","374,87","244,609,959",2021-03-24,NaN

In [6]:
df[df['empleo'] == 'CTE']

,n_vac,uco,ciu,pt,asig,ta,empleo,efun,cursos,t_max,t_min,fecha_cob,csce,obs,fecha_pub,cod_cm
67,01704,ESTADO MAYOR DEL EJÉRCITO,51000001,5JA39/006,LD,C,CTE,"[TRA., nan]","XF:I, FM:I, EM:I","[10, 4, nan]",2.0,NaN,"489,98","51,656,763,960",2021-03-24,NaN
68,01705,ESTADO MAYOR DEL EJÉRCITO,51000001,5JA39/053,LD,C,CTE,"[TRA., nan]","XF:I, FM:I, EM:I","[10, 4, nan]",2.0,NaN,"489,98","51,656,763,960",2021-03-24,NaN
69,01706,ESTADO MAYOR DEL EJÉRCITO,51000001,5JA39/024,LD,C,CTE,"[TRA., nan]","XF:I, FM:I, EM:I","[10, 4, nan]",2.0,NaN,"489,98","51,656,763,960",2021-03-24,NaN
70,01707,ESTADO MAYOR DEL EJÉRCITO,51000001,5JA39/031,LD,C,CTE,"[TRA., nan]","XF:I, FM:I, EM:I","[10, 4, nan]",2.0,NaN,"489,98","51,656,763,960",2021-03-24,NaN
71,01708,ESTADO MAYOR DEL EJÉRCITO,51000001,5JA39/016,LD,C,CTE,"[TRA., nan]","XF:I, FM:I, EM:I","[10, 4, nan]",2.0,NaN,"489,98","51,656,763,960",2021-03-24,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040,02819,JEFATURA DE LA CUARTA SUBINSPECCION GENERAL DE...,54430001,5JA39/007,LD,C,CTE,NaN,NaN,10,"[2, nan]","[28-04-2022, 06-09-2022, nan]","310,43","Z85,656,960",2022-03-30,NaN
2082,03875,DIRECCION DE PERSONAL,56200003,5JA39/010,CM,C,CTE,NaN,"[PC:W/PW:W, SL:I, RS:I, GL:I, SL:I, RS:I, LP:I...",10.0,"[3, nan]","[01-08-2022, nan]","499,78","656,960",2022-03-31,CM21
2401,05551,REGIMIENTO DE OPERACIONES DE INFORMACION N.o 1,50069718,5WM79/001,PA,C,CTE,"[MECMT, TECAP, nan]",NaN,NaN,NaN,NaN,"459,48","511,656,960",2022-04-01,NaN
2403,05553,DIRECCION DE INFRAESTRUCTURA,54630000,5WM85/001,PA,C,CTE,"[MECMT, TECAP, nan]",NaN,NaN,NaN,NaN,"382,37","511,656,960",2022-04-01,NaN
2404,05554,ACADEMIA GENERAL MILITAR,55105700,5WM85/001,PA,C,CTE,"[MECMT, TECAP, nan]",NaN,NaN,NaN,NaN,"345,64",960,2022-04-01,NaN