In [87]:
import pandas as pd
import numpy as np
import tabula

In [3]:
file_pdf = 'D:\jaume\Datasets\BOD\BOD_20210325_58_vacantes_CM.pdf'
read_pdf = tabula.read_pdf(file_pdf, pages = 24)

Got stderr: mar. 09, 2022 8:35:40 P. M. org.apache.pdfbox.contentstream.PDFStreamEngine operatorException
GRAVE: Cannot read JPEG2000 image: Java Advanced Imaging (JAI) Image I/O Tools are not installed

In [4]:
#Lee el primer dataframe (primera tabla) del PFD
df = read_pdf[0]
df

,NUM.\rVAC.,"DIRECCIÓN GENERAL, ORGANISMO, CENTRO, UNIDAD\rLOCALIDAD",CODIGO\rIDENTIF.\rUNIDAD,CODIGO\rPUESTO\rTRABAJO,CLAS.,EMPLEO,ESP. FUNDAMENTAL,TITUL. / SEG. ESP. EXIGIBLES,TIEMPOS,FECHA\rCOBERTURA,CSCE\rEUROS/MES,TIPO\rCM,OBSERVACIONES,Unnamed: 0,Unnamed: 1
0,NaN,NaN,NaN,AS,TA,ESP. COMPLEMENTARIA,TITUL. / SEG. ESP. VALORABLES,MAX,MIN,NaN,NaN,NaN,NaN,NaN,NaN
1,03800\r03801\r03802\r03803\r03804\r03805\r0380...,BATALLON DE HELICOPTEROS DE EMERGENCIAS II (BE...,50075516\r50045588\r50075516\r50030082\r500389...,5SA3E/003\r5SA3E/002\r5SA3E/004\r5SA3E/003\r5S...,CM\rCM\rCM\rCM\rCM\rCM\rCM\rCM\rCM\rCM\rCM\rCM,C\rC\rC\rC\rC\rC\rC\rC\rC\rC\rC\rC,STTE a BG\rSTTE a BG\rSTTE a BG\rSTTE a BG\rST...,I.LIG\rI.LIG\rARTC\rI.LIG\rI.LIG\rI.LIG,"HC:I, HR:I\rHP:E\rHP:E\rHP:E\rTM:E\rTM:E\rTM:E...",10\r10\r10\r10\r10,3\r3\r3\r3,NaN,"304,34\r374,87\r374,87\r374,87\r374,87\r374,87...",GM18\rGM18\rGM18\rGM18\rGM18\rGM18\rGM26\rGM26...,"546,656,959\r546,656,959\r546,656,959\r546,656..."

In [131]:
n_vac = df.iloc[1,0]\
          .split('\r')
len(n_vac)

12

In [132]:
uco = df.iloc[1, 1]\
        .split('\r')
uco = uco[0::2]
len(uco)

12

In [133]:
ciu = df.iloc[1, 2]\
        .split('\r')
len(ciu)

12

In [134]:
pt = df.iloc[1, 3]\
       .split('\r')
len(pt)

12

In [135]:
clas = df.iloc[1, 4]\
         .split('\r')
len(clas)

12

In [136]:
ta = df.iloc[1, 5]\
         .split('\r')
len(ta)

12

In [137]:
empleo = df.iloc[1, 6]\
           .split('\r')
len(empleo)

12

In [138]:
efun = df.iloc[1, 7]\
         .split('\r')
len(efun)

6

In [139]:
# Comprobación de errores (no todas las vacantes tienen efun, cursos o t_max/t_min)
errors = []
if len(efun) == len(n_vac):
    pass
else:
    errors.append('EFUN no está definida en todas las vacantes')
    unique_efun = set(efun)    #devuelve valores únicos de EFUN en un set (de valores únicos)
    efun_value = list(unique_efun)
    efun_value.append('NaN')            #lista de posibles EFUN
    efun = [efun_value] * len(n_vac)    #lista de longiutud igual a nº de vacantes con las posibles EFUN

In [140]:
efun

[['I.LIG', 'ARTC', 'NaN'],
 ['I.LIG', 'ARTC', 'NaN'],
 ['I.LIG', 'ARTC', 'NaN'],
 ['I.LIG', 'ARTC', 'NaN'],
 ['I.LIG', 'ARTC', 'NaN'],
 ['I.LIG', 'ARTC', 'NaN'],
 ['I.LIG', 'ARTC', 'NaN'],
 ['I.LIG', 'ARTC', 'NaN'],
 ['I.LIG', 'ARTC', 'NaN'],
 ['I.LIG', 'ARTC', 'NaN'],
 ['I.LIG', 'ARTC', 'NaN'],
 ['I.LIG', 'ARTC', 'NaN']]

In [141]:
cursos = df.iloc[1, 8]\
           .split('\r')
len(cursos)

12

In [142]:
t_max = df.iloc[1, 9]\
          .split('\r')
len(t_max)

5

In [143]:
if len(t_max) == len(n_vac):
    pass
else:
    errors.append('T_MAX no definido en todas las vacantes. Ver opciones.')
    tmax_value = list(unique_tmax)
    tmax_value.append('NaN')
    t_max = [tmax_value] * len(n_vac)

In [144]:
t_max

[['10', 'NaN'],
 ['10', 'NaN'],
 ['10', 'NaN'],
 ['10', 'NaN'],
 ['10', 'NaN'],
 ['10', 'NaN'],
 ['10', 'NaN'],
 ['10', 'NaN'],
 ['10', 'NaN'],
 ['10', 'NaN'],
 ['10', 'NaN'],
 ['10', 'NaN']]

In [145]:
t_min = df.iloc[1, 10]\
          .split('\r')
len(t_min)

4

In [146]:
if len(t_min) == len(n_vac):
    pass
else:
    errors.append('T_MIN no definido en todas las vacantes. Ver opciones.')
    unique_tmin = set(t_min)
    tmin_value = list(unique_tmin)
    tmin_value.append('NaN')
    t_min = [tmin_value] * len(n_vac)

In [147]:
t_min

[['3', 'NaN'],
 ['3', 'NaN'],
 ['3', 'NaN'],
 ['3', 'NaN'],
 ['3', 'NaN'],
 ['3', 'NaN'],
 ['3', 'NaN'],
 ['3', 'NaN'],
 ['3', 'NaN'],
 ['3', 'NaN'],
 ['3', 'NaN'],
 ['3', 'NaN']]

In [148]:
if np.isnan(df.iloc[1,11]):
    fecha_cob = ['NaN'] * len(n_vac)
else:
    fecha_cob = df.iloc[1, 11]\
                  .split('\r')        #Hay que testear el comportamiento con fechas en Fecha de Cobertura

In [149]:
if len(fecha_cob) == len(n_vac):
    pass
else:
    errors.append('Fecha de Cobertura no definida en todas las vacantes. Ver opciones.')
    unique_fechacob = set(fecha_cob)
    fechacob_value = list(unique_fechacob)
    fechacob_value.append('NaN')                 #lista de valores posibles para fecha de cobertura
    fecha_cob = [fechacob_value] * len(n_vac)

In [150]:
csce = df.iloc[1, 12]\
              .split('\r')
len(csce)

12

In [151]:
cod_cm = df.iloc[1, 13]\
              .split('\r')
len(cod_cm)

12

In [152]:
obs = df.iloc[1, 14]\
        .split('\r')
len(obs)

12

In [157]:
data_dict = {'n_vac': n_vac,
             'uco': uco,
             'ciu': ciu,
             'pt': pt,
             'clas': clas,
             'ta': ta,
             'empleo': empleo,
             'efun': efun,
             'cursos': cursos,
             't_max': t_max,
             't_min': t_min,
             'fecha_cob': fecha_cob,
             'csce': csce,
             'cod_cm': cod_cm,
             'obs': obs
            }
df = pd.DataFrame(data_dict)
df.to_pickle('Scraper-01-CM.pkl')
df

,n_vac,uco,ciu,pt,clas,ta,empleo,efun,cursos,t_max,t_min,fecha_cob,csce,cod_cm,obs
0,03800,BATALLON DE HELICOPTEROS DE EMERGENCIAS II (BE...,50075516,5SA3E/003,CM,C,STTE a BG,"[I.LIG, ARTC, NaN]","HC:I, HR:I","[10, NaN]","[3, NaN]",NaN,"304,34",GM18,"546,656,959"
1,03801,BATALLON DE CG. DE LAS FAMET,50045588,5SA3E/002,CM,C,STTE a BG,"[I.LIG, ARTC, NaN]",HP:E,"[10, NaN]","[3, NaN]",NaN,"374,87",GM18,"546,656,959"
2,03802,BATALLON DE HELICOPTEROS DE EMERGENCIAS II (BE...,50075516,5SA3E/004,CM,C,STTE a BG,"[I.LIG, ARTC, NaN]",HP:E,"[10, NaN]","[3, NaN]",NaN,"374,87",GM18,"546,656,959"
3,03803,BATALLON DE HELICOPTEROS DE MANIOBRA VI,50030082,5SA3E/003,CM,C,STTE a BG,"[I.LIG, ARTC, NaN]",HP:E,"[10, NaN]","[3, NaN]",NaN,"374,87",GM18,"546,656,959"
4,03804,RGTO. DE INF. «AMERICA» N.o 66 DE CAZADORES DE...,50038946,5SA19/002,CM,C,STTE,"[I.LIG, ARTC, NaN]",TM:E,"[10, NaN]","[3, NaN]",NaN,"374,87",GM18,959
5,03805,CUARTEL GENERAL DEL MANDO DE TROPAS DE MONTAÑA,50083231,5SA28/001,CM,C,STTE,"[I.LIG, ARTC, NaN]",TM:E,"[10, NaN]","[3, NaN]",NaN,"374,87",GM18,"656,959"
6,03806,CUARTEL GENERAL DEL MANDO DE TROPAS DE MONTAÑA,50083231,5SA51/001,CM,C,BG,"[I.LIG, ARTC, NaN]",TM:E,"[10, NaN]","[3, NaN]",NaN,"338,86",GM26,"656,959"
7,03807,CUARTEL GENERAL DEL MANDO DE TROPAS DE MONTAÑA,50083231,5SA50/003,CM,C,BG,"[I.LIG, ARTC, NaN]",TM:E,"[10, NaN]","[3, NaN]",NaN,"338,86",GM26,"656,959"
8,03808,GRUPO DE ARTILLERIA DE CAMPAÑA VI,50091180,5SA23/002,CM,C,STTE,"[I.LIG, ARTC, NaN]",PA:E,"[10, NaN]","[3, NaN]",NaN,"374,87",GM18,"959,976"
9,03809,REGIMIENTO DE INFANTERIA «NAPOLES» N.o 4 DE PA...,50041489,5SA51/004,CM,C,BG,"[I.LIG, ARTC, NaN]",PA:E,"[10, NaN]","[3, NaN]",NaN,"304,34",GM26,"959,976"
10,03810,REGIMIENTO DE INFANTERIA «NAPOLES» N.o 4 DE PA...,50041489,5SA51/001,CM,C,BG,"[I.LIG, ARTC, NaN]",PA:E,"[10, NaN]","[3, NaN]",NaN,"304,34",GM26,"959,976"
11,03811,REGIMIENTO DE INFANTERIA «ZARAGOZA» N.o 5,50083681,5SA51/008,CM,C,BG,"[I.LIG, ARTC, NaN]",PA:E,"[10, NaN]","[3, NaN]",NaN,"304,34",GM26,"959,976"

In [ ]:
errors